@import "../../../../assets/styles/variables.css";

.comment {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--card-background-color);
}

.author {
  font-size: 14px;
  color: var(--orange-color);
}
