.login {
  max-width: 400px;
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.starWrapper {
  position: absolute;
  transition: 1s;
  transition-delay: 100ms;
  transform: translate(50%, 50%);
  z-index: -1;
  width: 400px;
  height: 400px;
}

.loginStarPosition {
  width: 200px;
  height: 200px;
  transform: translate(-70%, -70%);
  background: var(--light-blue-color);
}

.loginStarPosition::after {
  box-shadow:
    0 0 10em 5em var(--blue-color),
    0 0 100px 50px var(--blue-color),
    0 0 10px 5px var(--light-blue-color);
}
