.spinnerBox {
  --loader-size: 200px;
  --blue-orbit-size: calc(var(--loader-size) / 2);
  --green-orbit-size: calc(var(--loader-size) / 2.5);
  --red-orbit-size: calc(var(--loader-size) / 3);
  --white-orbit-size: calc(var(--loader-size) / 5);

  width: var(--loader-size);
  height: var(--loader-size);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 100;
}

.orbit {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.orbitBlue {
  width: var(--blue-orbit-size);
  height: var(--blue-orbit-size);
  border: 1px solid var(--light-blue-color);
  animation: spin-3d 3s linear 0.2s infinite;
}

.orbitGreen {
  width: var(--green-orbit-size);
  height: var(--green-orbit-size);
  border: 1px solid var(--green-color);
  animation: spin-3d 2s linear 0s infinite;
}

.orbitRed {
  width: var(--red-orbit-size);
  height: var(--red-orbit-size);
  border: 1px solid var(--error-color);
  animation: spin-3d 1s linear 0s infinite;
}

.orbitWhite {
  width: var(--white-orbit-size);
  height: var(--white-orbit-size);
  border: 2px solid var(--main-text-color);
  animation: spin-3d 10s linear 0s infinite;
}

.transformEntityFirst {
  transform: rotate3d(1, 1, 1, 90deg);
}

.transformEntitySecond {
  transform: rotate3d(1, 2, 0.5, 90deg);
}

.transformEntityThird {
  transform: rotate3d(0.5, 1, 2, 90deg);
}

@keyframes spin-3d {
  from {
    transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }

  to {
    transform: rotate3d(0deg);
  }
}
