.button {
  width: 220px;
  padding: 15px;
  color: var(--primary-text-color);
  background: var(--button-background-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: var(--border-radius);
}

.buttonThemeGlow::before {
  content: "";
  background: linear-gradient(45deg, #f00, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #f00);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 500%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0%;
  transition: opacity 0.3s ease-in-out;
  border-radius: var(--border-radius);
}

.buttonThemeGlow:not(.buttonDisabled):hover::before {
  opacity: 100%;
}

.buttonThemeGlow::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--button-background-color);
  left: 0;
  top: 0;
  border-radius: var(--border-radius);
}

.buttonThemeGlow:not(.buttonDisabled):active {
  color: var(--button-background-color);
}

.buttonThemeGlow:active::after {
  background: transparent;
}

.buttonDisabled {
  color: var(--secondary-text-color);
  border-color: var(--button-background-color);
}

.buttonThemeMenu {
  --line-height: 2px;

  width: 30px;
  height: 20px;
  padding: 0;
  border-radius: 0;
  border: 0;
  display: block;
  border-top: var(--line-height) solid;
  border-bottom: var(--line-height) solid;
  color: var(--main-text-color);
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

.buttonThemeMenu::before,
.buttonThemeMenu::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: var(--line-height);
  left: 50%;
  top: 50%;
  background-color: var(--main-text-color);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.buttonThemeMenu.buttonActive {
  border-color: transparent;
}

.buttonThemeMenu.buttonActive::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.buttonThemeMenu.buttonActive::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
