.star {
  width: 200px;
  height: 200px;
  border: 1px dotted var(--orange-color);
  background: var(--yellow-color);
  border-radius: 50%;
}

.star::after {
  content: "";
  background: #ff660017;
  width: 99%;
  height: 99%;
  display: block;
  margin-left: 0.5%;
  margin-top: 0.5%;
  border-radius: 100%;
  box-shadow: 0 0 10em 5em #ff66006b, 0 0 100px 50px #ff66006b inset, 0 0 10px 5px var(--yellow-color);
}
