.components-library {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
