.switch-form {
  cursor: pointer;
  margin: 20px;
  position: relative;
}

.switch-form::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #f60;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .switch-form:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}
