.toasterContainer {
  position: absolute;
  top: var(--nav-height);
  right: 0;
}

.toaster {
  z-index: 50;
  width: 200px;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(119 14 14);
  animation: example 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes example {
  0% { transform: translateX(100%); }

  10%,
  80% {
    transform: translateX(0);
    opacity: 100%;
  }

  100% {
    transform: translateX(100%);
    opacity: 0%;
  }
}

.toasterThemeError {
  background: linear-gradient(90deg, rgb(119 14 14 / 100%) 0%, rgb(1 1 13 / 100%) 14%);
}

.toasterThemeError span {
  color: var(--error-color);
}

.toasterThemeSuccess {
  background: linear-gradient(90deg, rgb(0 255 0 / 100%) 0%, rgb(1 1 13 / 100%) 14%);
}

.toasterThemeSuccess span {
  color: var(--green-color);
}
