.toaster {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hide {
  display: none;
}

.error {
  color: #f60;
}
