.toaster {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  width: 200px;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(119 14 14);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateX(-10%);
  opacity: 100%;
}

.hide {
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  opacity: 0%;
}

.toasterThemeError {
  background: linear-gradient(90deg, rgb(119 14 14 / 100%) 0%, rgb(1 1 13 / 100%) 14%);
}

.toasterThemeError span {
  color: var(--error-color);
}

.toasterThemeSuccess {
  background: linear-gradient(90deg, rgb(0 255 0 / 100%) 0%, rgb(1 1 13 / 100%) 14%);
}

.toasterThemeSuccess span {
  color: var(--green-color);
}
