:root {
  --main-text-color: #fefefe;
  --secondary-text-color: #8f8f8f;
  --card-background-color: rgb(26 26 26 / 50%);
  --button-background-color: #111;
  --border-radius: 20px;
  --border-color: rgb(50 50 50);
  --error-color: #f44;
  --light-blue-color: #5cb6fff2;
  --blue-color: #4c8bff7c;
  --dark-blue-color: #0044ff2d;
  --orange-color: #f60;
  --yellow-color: #fc0;
  --dark-yellow-color: #ffcc007c;
  --dark-orange-color: #ff66002d;
  --green-color: #0f0;
  --nav-height: 80px;
  --desktop-screen-width: 1200px;
  --mobile-screen-width: 768px;
}

$mobile-screen-width: 768px;
