:root {
  --main-text-color: #fefefe;
  --secondary-text-color: #8f8f8f;
  --card-background-color: rgb(26 26 26 / 50%);
  --button-background-color: #111;
  --border-radius: 20px;
  --error-color: #f44;
}
