@import "../../assets/styles/variables";

.navigationMenu {
  height: var(--nav-height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  z-index: 20;
}

.buttonWrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
  z-index: 21;
}

@media only screen and (max-width: $mobile-screen-width) {
  .navigationMenu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: #000;
    align-items: center;
    transform: translateX(-100%);
    opacity: 0%;
    transition: 1s;
  }

  .buttonWrapper {
    display: inline-block;
  }

  .showMenu {
    transition: 1s;
    transform: translateX(0);
    opacity: 100%;
  }
}
